.hidden {
  display: none;
}

#searchUser {
  width: 20%;
  min-width: 250px;
  float: right;
  margin-bottom: 15px;
}
.table {
  color: #888ea8;
  font-size: 13px;
}

th {
  color: #0f0f0f;
  font-size: 13px;
  font-weight: 500;
}
.m-0 .text-light{
  color: #020202;
}
.User-body{
  background-color: #fbfbfb !important;
  color: white;
  
}
.User .User-body{
  background-color: #fbfbfb !important;
  color: white;
  box-shadow: 0 0 1em rgb(185, 185, 185);
  border-radius: 8px;
}
.User-body>.table>thead>tr>td, .User-body>.table>thead>tr>th {
  background-color: steelblue !important;
}