footer #footer-position .main-footer{
  background-color: #eaedef;
  height: 50px;
  width: 1075px !important;
  bottom: 1px;
  right: 32px;
  position: absolute;
  border-top: none;
}
.wrapper{
  height: 100%;
}
