<li class="nav-item dropdown user-menu">
  <a class="nav-link dropdown-toggle" data-toggle="dropdown">
    <img
      src="../../../../../assets/img/login.png"
      height="34px"
      width="34px"
      alt="User Image"
      class="user-image img-circle elecation-2"
    />
  </a>
  <ul
    #dropdownMenu
    class="dropdown-menu dropdown-menu-small dropdown-menu-right"
  >
    <li>
      <a href="#" class="dropdown-item">
        <i class="fas fa-id-card"> Perfil </i>
      </a>
    </li>
    <li>
      <a (click)="sair()" class="dropdown-item">
        <i class="fas fa-sign-out-alt"> Sair </i>
      </a>
    </li>
  </ul>
</li>
